LOG_LEVEL=debug
LOG_SOURCE=false

APP_NAME=demo_todo
APP_VERSION=1.0.0
APP_HOST=localhost
APP_PORT=9003

# only needed to access mariadb from application
DB_DRIVER=mysql
# DSN (Data Source Name) format: "username:password@protocol(address)/dbname?param=value"
DB_DSN=myuser:mypw@tcp(localhost:3306)/demo_todo?parseTime=true&charset=utf8mb4&loc=Local
DB_POOL_MAX_OPEN_CONNS=9
DB_POOL_MAX_IDLE_CONNS=4
DB_POOL_CONN_MAX_LIFETIME=5
DB_POOL_CONN_MAX_IDLE_TIME=2

# only needed to run mariadb container image
MARIADB_ROOT_PASSWORD=myrootpw
MARIADB_DATABASE=demo_todo
MARIADB_USER=myuser
MARIADB_PASSWORD=mypw
OCI_DB_PORT=3306

# only needed to execute goose migrations
GOOSE_DRIVER=$DB_DRIVER
GOOSE_DBSTRING=$DB_DSN
GOOSE_MIGRATION_DIR=./src-db/migrations
#GOOSE_TABLE=goose_db_version
