OCI_NAME=demo_todo
# internal port; see dockerfile for port mapping
OCI_INT_PORT=8080
# external port; used for local development (make run)
OCI_PORT=9001
OCI_VERSION=1.0.0

DB_HOST=localhost
# DB_HOST=host.docker.internal
DB_PORT=3306
DB_ROOT_PASSWORD=myrootpw
DB_NAME=demo_todo
DB_USER=myuser 
DB_PASSWORD=mypw

LOG_LEVEL="debug"
LOG_SOURCE="false"
