APP_NAME=demo_todo
APP_VERSION=1.0.0
APP_PORT=9001

# DSN (Data Source Name) format: "username:password@protocol(address)/dbname?param=value"
DB_DSN=myuser:mypw@tcp(localhost:3306)/demo_todo?parseTime=true&charset=utf8mb4&loc=Local
DB_DSN_OCI=myuser:mypw@tcp(host.docker.internal:3306)/demo_todo?parseTime=true&charset=utf8mb4&loc=Local

# only needed to run mariadb container image
MARIADB_ROOT_PASSWORD=myrootpw
MARIADB_DATABASE=demo_todo
MARIADB_USER=myuser 
MARIADB_PASSWORD=mypw
OCI_DB_PORT=3306

LOG_LEVEL="debug"
LOG_SOURCE="false"
